<ng-container matColumnDef [sticky]="_columnConfig.sticky" [stickyEnd]="_columnConfig.stickyEnd">
  <ng-container *ngIf="!headerHidden">
    <th
      *matHeaderCellDef
      mat-header-cell
      mat-sort-header
      [disabled]="isSortDisabled(sortDisabled, _columnConfig.type)"
      [ngClass]="getColumnClasses(_columnConfig)"
      [ngStyle]="_columnConfig.style!"
    >
      <span
        class="textual-cell"
        tooltipIfTruncated
        [matTooltip]="_columnConfig.key | translate"
        [matTooltipClass]="'table-tooltip'"
        [innerHTML]="_columnConfig.key | translate"
      ></span>
    </th>
  </ng-container>
  <td
    *matCellDef="let row"
    mat-cell
    [ngClass]="getColumnClasses(_columnConfig)"
    [ngStyle]="_columnConfig.style!"
    (click)="isClickable(_columnConfig.type) ? columnAction.emit({ element: null }) : null"
  >
    <ng-container
      [ngComponentOutlet]="getComponent(_columnConfig)"
      [ngComponentOutletInjector]="getInjector(_columnConfig, row)"
    ></ng-container>
  </td>
  <ng-container *ngIf="!footerHidden">
    <td
      *matFooterCellDef
      mat-footer-cell
      [ngClass]="getColumnClasses(_columnConfig)"
      [ngStyle]="_columnConfig.style!"
    ></td>
  </ng-container>
</ng-container>
