<ng-container matColumnDef [sticky]="columnConfig.sticky" [stickyEnd]="columnConfig.stickyEnd">
  <ng-container *ngIf="!headerHidden">
    <th
      *matHeaderCellDef
      mat-header-cell
      mat-sort-header
      [disabled]="isSortDisabled(sortDisabled, columnConfig.type)"
      [ngClass]="getColumnClasses(columnConfig)"
      [ngStyle]="columnConfig.style!"
    >
      <span
        class="textual-cell"
        tooltipIfTruncated
        [matTooltip]="columnConfig.key | translate"
        [matTooltipClass]="'table-tooltip'"
        [innerHTML]="columnConfig.key | translate"
      ></span>
    </th>
  </ng-container>
  <td
    *matCellDef="let row"
    mat-cell
    [ngClass]="getColumnClasses(columnConfig)"
    [ngStyle]="columnConfig.style!"
    (click)="isClickable(columnConfig.type) ? columnAction.emit({ element: null }) : null"
  >
    <ng-container
      [ngComponentOutlet]="getComponent(columnConfig)"
      [ngComponentOutletInjector]="getInjector(columnConfig, row)"
    ></ng-container>
  </td>
  <td
    mat-footer-cell
    [ngClass]="getColumnClasses(columnConfig)"
    [ngStyle]="columnConfig.style!"
  ></td>
</ng-container>
