:host ::ng-deep .table-filter {
  background-color: var(--ene-color-grey-50);
  margin-bottom: 1rem;
  width: 100%;

  ::ng-deep &.mat-form-field {
    &.mat-form-field-appearance-legacy {
      .mat-form-field-infix {
        padding: 0.5rem;
      }

      &.mat-form-field-can-float {
        &.mat-form-field-should-float .mat-form-field-label,
        .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
          transform: translate3d(0, -1rem, 0.001px) scale(0.75) perspective(100px);
        }
      }
    }
  }
}

:host ::ng-deep .mat-paginator.table-paginator {
  &.compact {
    .mat-paginator-range-actions {
      width: 100%;

      .mat-paginator-range-label {
        flex: 1;
      }
    }
  }

  .mat-paginator-container {
    flex-wrap: wrap;
    min-height: 2.5rem;
    padding: 0;

    .mat-paginator-page-size {
      align-items: center;

      .mat-paginator-page-size-label {
        margin: 0 1rem 0 0;
      }

      .mat-paginator-page-size-select {
        height: 2rem;
        margin: 0;
      }

      .mat-form-field-infix {
        background-color: var(--ene-color-grey-50);
        border-top: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    .mat-paginator-range-actions {
      .mat-paginator-range-label {
        margin: 0 1rem;
      }
    }
  }
}

:host {
  display: block;

  & ::ng-deep th.mat-header-cell,
  & ::ng-deep td.mat-cell,
  & ::ng-deep td.mat-footer-cell {
    color: var(--ene-color-grey-700);
    font-size: 1rem;
    line-height: 1.2;
    padding: 0.5rem;

    &:first-of-type {
      padding-left: 0.5rem;
    }

    &:last-of-type {
      padding-right: 0.5rem;
    }
  }

  &[small] {
    & ::ng-deep th.mat-header-cell,
    & ::ng-deep td.mat-cell,
    & ::ng-deep td.mat-footer-cell {
      font-size: 0.85rem;
    }
  }

  &[large] {
    & ::ng-deep th.mat-header-cell,
    & ::ng-deep td.mat-cell,
    & ::ng-deep td.mat-footer-cell {
      font-size: 0.85rem;
      padding: 1rem;

      &:first-of-type {
        padding-left: 1rem;
      }

      &:last-of-type {
        padding-right: 1rem;
      }
    }
  }

  &[primary] {
    tr.mat-header-row {
      background-color: var(--ene-color-primary-600);
      border-bottom: 3px solid var(--ene-color-white);

      & ::ng-deep th.mat-header-cell {
        color: var(--ene-color-white);
      }
    }
  }
}

.table-wrapper {
  &.scrollable-x {
    overflow-x: auto;

    table.mat-table {
      display: grid;

      &-sticky {
        background-color: var(--ene-color-grey-25);
      }
    }
  }

  &.scrollable-y {
    overflow-y: auto;
  }

  table.mat-table {
    width: 100%;
    background-color: transparent;

    & ::ng-deep .nested-table-column {
      padding: 0;
    }

    & ::ng-deep .nested-row > .mat-cell {
      border-bottom-width: 0;
    }

    td.mat-cell,
    th.mat-header-cell,
    td.mat-footer-cell {
      box-sizing: border-box;
      word-wrap: unset;

      .textual-column {
        display: block;
        box-sizing: border-box;
        overflow: inherit;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
      }
    }

    th.mat-header-cell,
    td.mat-footer-cell {
      font-weight: 600;
    }

    td.mat-header-cell ::ng-deep .mat-sort-header-container {
      width: 100%;

      .mat-sort-header-content {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-align: initial;
      }
    }

    tr.mat-header-row,
    tr.mat-row,
    tr.mat-footer-row {
      height: unset;
      min-height: 2rem;
      border-color: var(--ene-color-grey-50);
    }

    tr.mat-header-row {
      border-bottom-width: 2px;
    }

    tr.mat-footer-row {
      border-bottom-width: 0;
      border-top-width: 2px;
    }
  }
}
